*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
startvnc.sh
Vencord/.config/Vencord/dist
kitty/.config/kitty/ssh.conf
naviterm/.config/naviterm/database.bin
naviterm/.config/naviterm/config.ini
naviterm/.config/naviterm
waybar/.config/waybar/scripts/last_screen_temp.txt
