*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
startvnc.sh
Vencord/.config/Vencord/dist
cmus/.config/cmus/playlists
.config/cmus/playlists
.config/cmus/playlists
cmus/.config/cmus
